.content-shell
  .container
    .row
      .col-xs-2
        ul
          li
            a(href="#home") Home
          li
            a(href="#about") About
      .col-xs-10
        include ./pages/home
        include ./pages/about
